
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body{
  background-image: url('../images/backgrounds/bgc2.jpg');
  background-size: cover;
  background-position: center;
  font-size: $base-font-size;
  overflow: hidden;
}

.App{
  max-width: 1200px;
  width: 88%;
  height: 100vh;
  margin: 0 auto;
}