.endGame{
    width: 75%;
    height: 65%;
    position: relative;
    margin-top: 6%;
    transform: scale(1);
    animation: showEndGameContainer 1s linear;
}

.endGame__result{
    position: absolute;
    top: 60%;
    left: 50%;
    transform-origin: left top;
    transform:  scale(1) translate(-50%, -50%);

    &--hide{
        animation: endGameHide 1s 1.5s linear forwards;
    }

    @keyframes endGameHide{

        100%{
            transform: scale(0) translate(-50%, -50%);
        }
    }

    .endGame__trophyIcon{
        font-size: 10rem;
        color: rgb(255, 187, 16);
    }
    .endGame__points{
        font-family: $digital-font;
        color: $primary-color;
        text-align: center;
        padding-top: 10%;
        font-size: 3rem;
    }

    .endGame__pointsToAdd{
        opacity: 0;
        font-family: $digital-font;
        font-size: 4rem;
        text-align: center;
        color: rgb(226, 3, 3);
        animation: showPointsToAdd 2.5s linear;

        &--green{
            color: green;
        }

        @keyframes showPointsToAdd {
         1%{
             opacity: 1;
         }   
         100%{
             opacity: 1;
         }
        }
    }
}

.endGame__playAgain{
    width: 50%;
    height: 100%;
    transform: translateX(50%) scale(0);
    background-color: rgba(0, 0, 0, 0.082);
    border: 4px rgba(29, 29, 27, 0.15) solid;
    border-radius: 2%;
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.15), 0px 3px 0px 0px rgba(255, 255, 255, 0.15);
    animation: showplayAgain 1s linear forwards;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

    .playAgain__avatar{
        margin-top: 8%;
        height:30%;
        border: 4px solid rgb(219, 219, 219);
        border-radius: 50%;
        -webkit-user-select: none;    
        user-select: none;
    }

    .playAgain__nickname{
        color: $primary-color;
        margin-top: 4%; 
        border: 1px solid $primary-color;
        padding: 2px 15px;
    }

    .playAgain__trophies{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playAgain__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30%;
        width: 100%;
    }

    .playAgain__trophyIcon{
        color: gold;
        font-size: 2rem;
        margin-right: 10px;
    }

    .playAgain__points{
        color: green;
        font-size: 2rem;
        &--red{
            color: rgb(107, 1, 1);
        }
    }

    .playAgain__button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        text-transform: uppercase;  
        color: rgb(219, 219, 219);
        border-radius: 8px;
        background-color: rgba(38, 28, 92, 0.3);
        border:4px rgba(29, 29, 27, 0.15) solid;
        box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.15), 0px 3px 0px 0px rgba(255, 255, 255, 0.15);
        transition: .3s;

        @media (max-width: 1000px){
            font-size: 0.8rem;
        }

        &:hover{
            color: rgb(49, 49, 49);
        }
    }
}

@keyframes showplayAgain{
     100%{
        transform: translateX(50%) scale(1);
    }
}

@keyframes showEndGameContainer{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: $large){
    .endGame{
        margin-top: 5vh;
        width: 95%;
        height: 90vh;

        .endGame__playAgain{
            width: 100%;
            animation: none;
            transform: translateX(0) scale(0);
            animation: showplayAgainMobile 1s linear forwards;
        }
    }

    .endGame__result{
        .endGame__trophyIcon{
            font-size: 4rem;
        }

        .endGame__points{
            font-size: 2rem;
        }

        .endGame__pointsToAdd{
            font-size: 1.8rem;
        }

        @media (min-width: 350px){
            .endGame__trophyIcon{
                font-size: 6rem;
            }
    
            .endGame__points{
                font-size: 3rem;
            }
    
            .endGame__pointsToAdd{
                font-size: 2.4rem;
            }
        }
    }
}
@keyframes showplayAgainMobile{
    100%{
       transform: translateX(0) scale(1);
   }
}
