@font-face{
    font-family: Anja;
    src: url('../fonts/basefont.ttf');
}

$font-family: 'Anja', sans-serif;
$digital-font:  'Handjet', cursive;
$base-font-size: 20px;
$contrast-color: rgb(32, 233, 172);
$primary-color: rgb(219, 219, 219);
$secondary-color: rgb(12, 12, 12);
$base-background-color: rgba(0, 0, 0, 0.082);